{% extends 'base.html'%}

{%block conteudo%}

<head>
    <style>
        .linhas {
            background-color: gray;
        }
    </style>
</head>

<div class="container p-5 bg-white">

    <div class="row justify-content-around" style="gap: 30px">

        <div class="col-8">

            {%if animal.imagem%}

            <img class="img-fluid " src="{{animal.imagem.url}}"
                style="width: 100%; height: 550px; object-fit: cover; border-radius: 1rem;">

            {%endif%}

        </div>

        <div class="col d-flex flex-column justify-content-between pb-3 py-3"
            style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; border-radius: 1rem;">
            <h3 style="color: orange; display: block; " class="text-center"> <b> {{ animal.nome_animal }} </b></h3>
            <div class="rounded px-4" style="color: #1669c1;">
                <b> Espécie: </b> {%if animal.especie == 'C'%}
                Cachorro
                {%else%}
                Gato
                {%endif%}
            </div>
            <div class="rounded px-4" style="color: #1669c1;">
                <b>
                    Raça:</b> {{ animal.raca}}
            </div>
            <div class="rounded px-4" style="color: #1669c1;">
                <b>
                    Idade:
                </b> {{idade}}
            </div>

            <div class="rounded px-4" style="color: #1669c1;">

                <b> Castrado: </b>
                {%if animal.castrado == 'S'%}
                Sim
                {%else%}
                Não
                {%endif%}

            </div>

            <div class="rounded px-4" style="color: #1669c1;">

                <b> Peso: </b>{{ animal.peso|floatformat:2|add:" kg" }}
            </div>

            <div class="rounded px-4" style="color: #1669c1;">
                <b> Sexo: </b>
                {%if animal.sexo == 'M'%}
                Macho
                {%else%}
                Fêmea
                {%endif%}
            </div>

            <div class="rounded px-4" style="color: #1669c1;">
                <b> Cor: </b> {{ animal.cor}}
            </div>

            <div class="rounded px-4" style="color: #1669c1;">
                <b> Porte: </b>

                {%if animal.porte == 'P'%}
                Pequeno
                {%elif animal.porte == 'M'%}
                Medio
                {%elif animal.porte == 'G'%}
                Grande
                {%endif%}

            </div>


            <div class=" rounded px-4 py-2" style="color: #1669c1;">
                <b> Descrição: </b>
                {{ animal.descricao}}
            </div>

            <!--#TODO: MANEIRA DE ADICIONAR LINKS PARA OUTRAS PAGINAS-->
            <form action="/animais/interesse/{{ animal.id }}/{{ animal.nome_animal }}" id="form-add-to-cart">
                <button type="submit" class="btn btn-primary btn-block rounded-pill">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <b> QUERO ADOTAR </b>
                </button>
            </form>
        </div>


        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="mt-5 mb-5">
                    {{animal.descricao_longa|linebreaks}}
                </div>
            </div>
        </div> -->
    </div>

    {%endblock%}