{% extends 'base.html'%}

{%block conteudo%}


<div class="container p-5 bg-white">
    <div class="row">
        <div class="col-lg">
            <div class="row no-gutters">
                <div class="col-lg-12">
                    {%if animal.imagem%}

                    <img class="img-fluid rounded" src="{{animal.imagem.url}}"
                        style="width: 420px; height: 320px; object-fit: cover;">

                    {%endif%}
                </div>
            </div>
        </div>


        <div class="col-lg">
            <h3>{{ animal.nome_animal }}</h3>

            <div>
                {%if animal.especie == 'C'%}
                Cachorro
                {%else%}
                Gato
                {%endif%}
            </div>
            <div>
                Raça: {{ animal.raca}}
            </div>
            <div>

                Idade: {{idade}}
            </div>

            <div>
                Castrado:
                {%if animal.castrado == 'S'%}
                Sim
                {%else%}
                Não
                {%endif%}

            </div>

            <div>

                Peso: {{ animal.peso|floatformat:2|add:" kg" }}
            </div>


            <div>
                Sexo:
                {%if animal.sexo == 'M'%}
                Macho
                {%else%}
                Fêmea
                {%endif%}
            </div>

            <div>
                Cor: {{ animal.cor}}
            </div>

            <div>
                Porte:

                {%if animal.porte == 'P'%}
                Pequeno
                {%elif animal.porte == 'M'%}
                Medio
                {%elif animal.porte == 'G'%}
                Grande
                {%endif%}

            </div>

            <div>
                Descrição:
                {{ animal.descricao}}
            </div>




            <!--#TODO: MANEIRA DE ADICIONAR LINKS PARA OUTRAS PAGINAS-->
            <form action="interesse/{{ animal.id }}/{{ animal.nome_animal }}" id="form-add-to-cart">
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    Quero adotar
                </button>
            </form>
        </div>


        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="mt-5 mb-5">
                    {{animal.descricao_longa|linebreaks}}
                </div>
            </div>
        </div> -->
    </div>

    {%endblock%}