{%extends 'base.html'%}



{%block conteudo%}

{% csrf_token %}
<div class="container bg-white p-5" style="min-height: 700px; box-shadow: 8px 10px 20px #dae0eb99;">
    <h3 class="text-center" style="color: orange;">Por que adotar?</h3>
    <div class="d-flex justify-content-between" style="gap: 25px">
        <div class="p-4 rounded " style="width:30%; box-shadow: 8px 10px 20px #dae0eb99;">
            <b style="color: #0896d7;"> Nesse exato momento,</b> <br>
            existem milhares de doguinhos e gatinhos esperando um humano para chamar de seu.
        </div>
        <div class="p-4 rounded " style="width:30%; box-shadow: 8px 10px 20px #dae0eb99;">
            <b style="color: #0896d7;"> E não há recompensa maior</b> <br>
            do que vê-los se tornando aquela coisinha alegre e saudável depois de uma boa dose de cuidado e carinho.
        </div>
        <div class="p-4 rounded " style="width:30%; box-shadow: 8px 10px 20px #dae0eb99;">
            <b style="color: #0896d7;"> Pensando bem, a pergunta é outra:</b> <br>
            se você pode mudar o destino de um animal de rua, por que não faria isso?
        </div>
    </div>
</div>
{%endblock%}