{% extends 'base.html' %}

{% block conteudo %}

<div class="container p-5 bg-white" style="min-height: 700px; box-shadow: 8px 10px 20px #dae0eb99;">
  <h1 class="mb-4 lh-1">
    {% if animal_nome %}
    Lista de Interessados em {{ animal_nome }}
    {% else %}
    Lista de Interessados
    {% endif %}
  </h1>

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Animal</th>
        <!-- <th>Endereço</th> -->
        <!-- <th>Data de Nascimento</th> -->
        <th>Telefone</th>
        <th>Email</th>
        <th>Data</th>
        <th style="max-width: 100px;">Mensagem</th>
      </tr>
    </thead>
    <tbody>
      {% for interessado in interessados %}
      <tr>
        <td>{{ interessado.nome }}</td>
        <td>{{ interessado.animal }}</td>
        <!-- <td>{{ interessado.endereco }}</td> -->
        <!-- <td>{{ interessado.data_de_nascimento }}</td> -->
        <td>{{ interessado.telefone }}</td>
        <td>{{ interessado.email }}</td>
        <td> {{ interessado.data_criacao|date:"d/m/Y" }} </td>
        <td style="max-width: 300px;">
          <p class="p-0" style="overflow: hidden;">
            {{ interessado.mensagem }}
          </p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="form-inline d-flex justify-content-center mb-3 mt-5">
    {% if interessados.has_other_pages %}
    <div class="btn-group" role="group" aria-label="Item pagination">

        {% if interessados.has_previous %}
        {% if request.GET.obj %}
        <a href="?page={{ interessados.previous_page_number }}&obj={{ request.GET.obj }}"
            class="btn btn-outline-primary">&laquo;</a>
        {% else %}
        <a href="?page={{ interessados.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
        {% endif %}
        {% endif %}

        {% for page_num in interessados.paginator.page_range %}
        {% if request.GET.obj %}
        {% if interessados.number == page_num %}
        <button class="btn btn-outline-primary active">
            <span>{{ page_num }} <span class="sr-only">(Atual)</span></span>
        </button>
        {% else %}
        <a href="?page={{ page_num }}&obj={{ request.GET.obj }}" class="btn btn-outline-primary">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        {% if interessados.number == page_num %}
        <button class="btn btn-outline-primary active">
            <span>{{ page_num }} <span class="sr-only">(Atual)</span></span>
        </button>
        {% else %}
        <a href="?page={{ page_num }}" class="btn btn-outline-primary">
            {{ page_num }}
        </a>
        {% endif %}
        {% endif %}
        {% endfor %}

        {% if interessados.has_next %}
        {% if obj %}
        <a href="?page={{ interessados.next_page_number }}&obj={{ obj }}" class="btn btn-outline-primary">&raquo;</a>
        {% else %}
        <a href="?page={{ interessados.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
        {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>

  
  
</div>
{% endblock %}