{% extends 'base.html' %}

{% block conteudo %}
<h1 class="mt-5 mb-4 lh-1">
  {% if animal_nome %}
  Lista de Interessados em {{ animal_nome }}
  {% else %}
  Lista de Interessados
  {% endif %}
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Animal</th>
      <!-- <th>Endereço</th> -->
      <!-- <th>Data de Nascimento</th> -->
      <th>Telefone</th>
      <th>Email</th>
      <th>Data</th>
      <th style="max-width: 100px;">Mensagem</th>
    </tr>
  </thead>
  <tbody>
    {% for interessado in interessados %}
    <tr>
      <td>{{ interessado.nome }}</td>
      <td>{{ interessado.animal }}</td>
      <!-- <td>{{ interessado.endereco }}</td> -->
      <!-- <td>{{ interessado.data_de_nascimento }}</td> -->
      <td>{{ interessado.telefone }}</td>
      <td>{{ interessado.email }}</td>
      <td>{{ interessado.data_criacao }}</td>
      <td style="max-width: 200px;">
        <p class="p-0" style="overflow: scroll;">
          {{ interessado.mensagem }}
        </p>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for pagina in interessados.paginator.page_range %}
    {% if interessados.number == pagina %}
    <li class="page-item active">
      <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>

{% endblock %}