{% extends 'base.html' %}

{%block conteudo%}
<h1 class="mt-5">Animais cadastrados</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Opções</th>

        </tr>
    </thead>
    <tbody>


        {% for animal in animais %}
        <tr>
            <td>{{ animal.id }}</td>

            <td>{{ animal.nome_animal }}</td>
            <td>{{ animal.especie }}</td>
            <td><a href="{% url 'dashboard-animais-cadastrar' %}" style="color: blue;">Editar</a>
                <a href="{% url 'dashboard-animais-cadastrar' %}" style="color: red;">Desativar</a>
            </td>
        </tr>
        {% endfor %}



    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for pagina in contatos.paginator.page_range %}
        {% if contatos.number == pagina %}
        <li class="page-item active">
            <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>

{%endblock%}