{% extends 'base.html' %}

{%block conteudo%}

<h1 class="m-0 mb-2 container d-flex justify-content-center">Animais cadastrados</h1>
<div class="d-flex align-items-center justify-content-between">
     
    
        <form method="get" action="{% url 'dashboard-animais' %}" class="form-inline d-flex justify-content-center mr-2"
        style="width: 100%;">
        <input class="form-control mr-sm-2" type="search" name="obj" value="{{request.GET.obj}}" placeholder="Pesquisar"
            aria-label="Pesquisar" autocomplete="off" style="flex-grow: 1;">
        {%if request.GET.obj%}
        <a href="{% url 'dashboard-animais' %}" class="btn btn-light border mr-sm-2">Resetar </a>
        {%endif%}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>


    </form>
    
    <a class="btn btn-primary" href="cadastrar/" role="button">Cadastrar</a>
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Sexo</th>
            <th>Raça</th>
            <th>Opções</th>

        </tr>
    </thead>
    <tbody>


        {% for animal in page %}
        <tr>
            <td>{{ animal.id }}</td>

            <td>{{ animal.nome_animal }}</td>
            <td>{{ animal.especie }}</td>
            <td>{{ animal.sexo }}</td>
            <td>{{ animal.raca }}</td>
            <td><a href="{% url 'dashboard-animais-editar' animal.id %}" style="color: blue;">Editar / <span style="color: red;" >Desativar Animal</span></a>
                
            </td>
            {% comment %} <td>
                <div class="form-check form-switch">

                    <input class="form-check-input" type="checkbox" id="ativo-checkbox" {% if animal.ativo %}checked{% endif %}>
                    <label class="form-check-label" for="ativo-checkbox">Disponível para adoção</label>
                  
                  </div>
                                
            </td>
 {% endcomment %}        </tr>
        {% endfor %}
        


    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for pagina in contatos.paginator.page_range %}
        {% if contatos.number == pagina %}
        <li class="page-item active">
            <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>

{%endblock%}