{% extends 'base.html' %}

{%block titulo%}Login | AdoteJá {%endblock%}

{% block conteudo %}
<div class="container p-5 bg-white" style="min-height: 700px">
  <h1 class="mb-3">Login</h1>


  {% if not user.is_authenticated %}
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
      <label>Usuário</label>
      <input type="text" name="usuario" value="{{request.POST.usuario}}" class="form-control">
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input type="password" name="senha" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    <a href="/conta/cadastro/" class="ml-3">Cadastrar</a>

  </form>
  {% else %}
  <p>
    Você fez login com {{user}},
    <a href="{% url 'logout' %}">clique aqui</a> para sair.
  </p>
</div>
{% endif %}
{% endblock %}