{% extends 'base.html' %}

{% block titulo %}Perfil | AdoteJa{% endblock %}

{% block conteudo %}
<div class="container p-5 bg-white">
  <h1 class="mb-4 lh-1">Atualizar Cadastro</h1>

  <form method="POST" class="pb-5">
    {% csrf_token %}
    <div class="form-group">
      <label>Nome</label>
      <input type="text" name="nome" value="{{ request.user.first_name }}" class="form-control">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" value="{{ request.user.email }}" class="form-control">
    </div>
    <div class="form-group">
      <label>Usuário</label>
      <input type="text" name="usuario" value="{{ request.user.username }}" class="form-control">
    </div>
    <div class="form-group">
      <label>Nova Senha (opcional)</label>
      <input type="password" name="senha" class="form-control">
    </div>
    <div class="form-group">
      <label>Repetir a senha</label>
      <input type="password" name="senha2" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
  </form>
</div>
{% endblock %}