{% load static %}
<footer style="background-color: #002359; position: relative;">
  <div class="container p-5">
    <nav class="d-flex" style="gap: 70px">
      <a href="/"> <img src="/static/img/logo-adoteja-branco.svg" alt="" style="width: 200px;"> </a>
      <div class="d-flex flex-column text-white">
        <h5 class="text-orange font-weight-bold">Mapa do site</h5>
        <a href="/animais" class="text-white">Animais</a>
        <a href="/sobre" class="text-white">Sobre</a>
        <a href="/contato" class="text-white">Contato</a>
        <a href="/conta/login" class="text-white">Login</a>
        <a href="/conta/cadastro" class="text-white">Cadastrar</a>
      </div>
      <div class="d-flex flex-column text-white">
        <h5 class="text-orange font-weight-bold">Desenvolvedores</h5>
        <a href="/animais" class="text-white">Jean Ricardo</a>
        <a href="/sobre" class="text-white">Jean Augusto</a>
        <a href="/contato" class="text-white">Luciano</a>
        <a href="/contato" class="text-white">Elessandro</a>
        <a href="/contato" class="text-white">Diego</a>
      </div>
    </nav>


  </div>
</footer>