{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: #002359;">
  <div class="container">
    <!-- <a class="navbar-brand" href="{% url 'index' %}">AdoteJá</a> -->

    <a class="navbar-brand" href="/"> <img src="/static/img/logo-adoteja.svg" alt="">
    </a>

    <div class="ml-auto d-flex">
      <a class="navbar-brand" href="/animais">Animais</a>
      <a class="navbar-brand" href="/sobre">Sobre</a>
      <a class="navbar-brand" href="/contato">Contato</a>
    </div>

    {% if not user.is_authenticated %}

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </a>

      <div class="dropdown-menu">
        <li><a class="dropdown-item" href="/conta/login">Login</a></li>
        <li><a class="dropdown-item" href="{% url 'cadastro' %}">Cadastrar</a></li>
      </div>
    </div>


    {% else %}

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </a>

      <div class="dropdown-menu">
        <li> <a class="dropdown-item" href="{%url 'atualizar_perfil'%}">Perfil</a></li>
        <li> <a class="dropdown-item" href="/conta/dashboard/animais/">Animais</a></li>
        <li> <a class="dropdown-item" href="/conta/dashboard/interessados/">Interessados</a></li>
        <li> <a class="dropdown-item" href="/conta/logout/">Logout</a></li>
      </div>
    </div>

    {% endif %}

    {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% endcomment %}
  </div>

</nav>