{% extends 'base.html'%}

{% block conteudo%}

<div class="container p-5 bg-white" style="min-height: 700px; box-shadow: 8px 10px 20px #dae0eb99;">

    <h4 class="text-center mb-3" style="color: orange">Contato</h4>

    <div class="mb-5 d-flex justify-content-center flex-column m-auto text-center align-items-center">

        <img src="/static/img/logo-apap.jpg" alt="" style="max-width: 450px;" class="mb-3">

        <p style="max-width: 450px;">
            A APAP é uma instituição sem fins lucrativos, fundada em 28 de agosto de 1995, visando proteção dos animais,
            cuidados com o meio ambiente e qualidade da saúde pública.
        </p>

        <p class="text-center mb-0">
            Rua Altino Vaz de Mello, 2855 - Jardim Santa Terezinha Penápolis-SP <br>
            <b> Telefone: (18) 3653-7060 </b> <br>
            Email: contato@apap.org.br
        </p>

    </div>
    <hr>
    <div class="d-flex justify-content-center flex-column align-items-center">
        <h4 style="color: orange" class="mb-3">Desenvolvedores</h4>
        <p class="d-flex justify-content-center align-items-center">
            Elessandro Fabiano Marquezim | <a href="http://www.linkedin.com/in/elessandro-fabiano-marquezim-6b1155a2"
                class="text-dark ml-1"> <i class="fab fa-linkedin"></i></a>
        </p>
        <p class="d-flex justify-content-center align-items-center">
            Diego Hermenegildo dos Santos | <a href="" class="text-dark ml-1"> <i class="fab fa-linkedin"></i></a>
        </p>
        <p class="d-flex justify-content-center align-items-center">
            Jean Augusto Rego | <a href="https://www.linkedin.com/in/jean-augusto-rego/" class="text-dark"> <i
                    class="fab fa-linkedin ml-1"></i></a>
        </p>
        <p class="d-flex justify-content-center align-items-center">
            Jean Ricardo Ferreira Jacobsen | <a href="https://www.linkedin.com/in/jean-rfj/" class="text-dark">
                <i class="fab fa-linkedin ml-1"></i></a>
        </p>
        <p class="d-flex justify-content-center mb-0 align-items-center">
            Luciano Felipe Dominguês | <a href="https://www.linkedin.com/in/luciano-felipe-957223ab/" class="text-dark">
                <i class="fab fa-linkedin ml-1"></i> </a>
        </p>
    </div>
</div>

{%endblock%}