{% extends 'base.html'%}

{% block conteudo%}

<div class="container p-5" style="min-height: 700px; box-shadow: 8px 10px 20px #dae0eb99;">

    <h4>Quem somos?</h4>

    <p>
        Olá! Somos um grupo de estudantes de Engenharia da Computação apaixonados por animais e preocupados com a
        crescente
        quantidade de animais abandonados e precisando de um lar. Por isso, decidimos criar esse site com o objetivo de
        ajudar na adoção de animais.

        Acreditamos que todos os animais merecem um lar amoroso e cuidadoso, e queremos contribuir para que eles
        encontrem
        uma nova família que os ame e cuide deles para o resto de suas vidas.

        Neste site, você encontrará uma lista de animais disponíveis para adoção, com informações sobre sua idade, raça,
        temperamento e necessidades especiais, caso tenham. Além disso, também disponibilizamos fotos e uma ficha
        descritiva
        dos animais para que você possa conhecê-los melhor antes de tomar a decisão de adotá-los.

        Nossa equipe está empenhada em garantir que todos os animais listados em nosso site estejam em boas condições de
        saúde e sejam vacinados e castrados, conforme necessário. Também nos comprometemos em auxiliar no processo de
        adoção, fornecendo orientações e suporte aos interessados em adotar um animal.

        Esperamos que nosso site possa ser uma ferramenta útil para ajudar na adoção de animais e contribuir para
        diminuir o
        número de animais abandonados nas ruas. Contamos com o apoio de todos aqueles que compartilham de nossa causa e
        desejam dar uma nova chance a esses animais que tanto precisam de um lar amoroso. Junte-se a nós nessa missão!
    </p>

</div>
{%endblock%}